# Local API
# NEXT_PUBLIC_API_BASE_URL=http://localhost:5298/api/v1

# Taqat production API
NEXT_PUBLIC_API_BASE_URL=https://wesal-api.apps.taqat.academy/api/v1

# Deprecated Render production API
# NEXT_PUBLIC_API_BASE_URL=https://wesal-platform.onrender.com/api/v1
